@{
	ViewData["Title"] = "Complete Orders";
}
<div class="row">
	<div class="col-md-6 offset-3 alert-success text-center">
		<h3>Orders Complete Successfully</h3>
		<a class="btn btn-outline-info" asp-action="Index" asp-controller="Products">
			<i class="fas fa-regular fa-refresh"></i>
			Go To Products
		</a>
	</div>
</div>
